{% extends 'base.html' %}
{% block content%}
{% load static %}

<!--* About Section Start -->
<br><br><br><br>
<section id="about" class="about-section mb-5">
    <div class="container">
        <div class="row align-items-center bicycle-img wow fadeInLeft">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="{% static 'images/gif.gif'%}" alt="" class="img-fluid" style="max-width: 144%;">
                </div>
            </div>
            <div class="col-md-6 about-text">
                <div class="heading-wrapper">
                    <h2 class="large-heading text-uppercase"><span>About</span>OMAHA</h2>
                </div>
                <div class="text-block"style="text-align: justify;">
                    <p>
                        Welcome to Omaha E-Bike, your premier destination for high-quality electric bikes in Omaha. 
                        Our mission is to revolutionize the way you commute by providing eco-friendly, efficient, and fun transportation options.
                        
                    </p>
                    <p>
                        <!-- Nestled in the heart of Adampur, Haryana, our headquarters and state-of-the-art manufacturing unit form the epicenter of our innovative pursuits. 
                        We are dedicated to crafting battery-operated e-bikes and scooters that not only redefine the way we commute but also contribute to a healthier planet. -->
                        At Omaha E-Bike, we believe in the power of sustainable travel. Our e-bikes are designed to offer a convenient and green alternative to traditional 
                        transportation, helping reduce your carbon footprint while you enjoy a smooth and effortless ride.
                    </p>
                    <h3>Why Choose Omaha E-Bike?</h3>
                    <p>Quality and Performance: We offer a range of e-bikes featuring the latest technology, ensuring a reliable and enjoyable experience.</p>
                    <p>Expert Support: Our team of knowledgeable staff is here to assist you with any questions and provide personalized recommendations based on your needs.</p>
                    <p>Customer Satisfaction: We are committed to providing exceptional customer service and ensuring you are completely satisfied with your e-bike purchase.</p>
                    <p>Whether you're commuting to work, exploring the city, or enjoying a leisurely ride, Omaha E-Bike has the perfect electric bike for you. Join us in embracing a greener future, one ride at a time.</p>
                    <p>Visit our showroom or explore our collection online to find your perfect e-bike today!</p>
                </div>
                <!-- <div class="btn-wrapper">
                    <a href="#" class="btn btn-primary has-icon">
                        <span>Read More</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!--* About Section End -->

<br><br>

{% endblock %}