<!--* Footer Start-->

{% load static %}
<footer class="site-footer">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">About Us</h4>
                        </div>
                        <div class="widget-contet">
                            <img src="{% static 'images\omaha_logo.png'%}" class="footer-logo img-fluid" alt="" >
                            <p>
                                Pioneering eco-friendly two-wheelers in India. Committed to a cleaner, greener future 
                                through cutting-edge design and sustainable technology.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Useful Links</h4>
                        </div>
                        <div class="widget-contet footer-menu">
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/models">Models</a></li>
                                <li><a href="/dealer">Become a Dealer</a></li>
                                <li><a href="/contact">Get in Touch</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Contact Info</h4>
                        </div>
                        <div class="widget-contet contact-info">
                            <div class="widget-contact-info">
                                <i class="fas fa-phone"></i>
                                <h3>Phone</h3>
                                <span>+91 99961-17577</span>
                            </div>
                            <div class="widget-contact-info">
                                <i class="fas fa-envelope-open"></i>
                                <h3>Email</h3>
                                <span>omahaelectrics@gmail.com</span>
                            </div>
                            <div class="widget-contact-info">
                                <i class="fas fa-map-marker-alt"></i>
                                <h3>Address</h3>
                                <span>Near Hanuman Mandir, Adampur, <br /> District Hisar, Haryana (125052)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Follow Us</h4>
                        </div>
                        <div class="widget-contet">
                            <div class="footer-social">
                                <ul>
                                    <a href="#"><img style="width: 16%;" src="{% static 'images/facebook.png' %}"></a>
                                    <a href="#"><img style="width: 18%;" src="{% static 'images/instagram.png'%}" ></a>
                                    <a href="#"><img style="width: 17%;" src="{% static 'images/youtube.png'%}" ></a>
                                    <a href="#"><img style="width: 17%;" src="{% static 'images/twitter.png'%}" ></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Follow Us</h4>
                        </div>
                        <div class="widget-contet">
                            
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="copyright text-center">
        <div class="container">
            <div class="copyright-text">© 2023 Wheels. Design & Developed by 
                <a target="_blank" href="#">SacredThemes</a>.
            </div>
        </div>
    </div> -->
</footer>
<!--* Footer end-->

